 /* Reset básico */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* Faz com que largura e altura incluam bordas e padding no cálculo. */
 }

 /*
box-sizing: content-box;
  Especifica que apenas o conteúdo deve ser considerado
  na largura e na altura total do elemento:
  content width + padding + border => largura real do elemento
  content height + padding + border => altura real do elemento 
  Ou seja: o elemento fica maior do que especificado 
           na largura e na altura.

box-sizing: border-box;
  Especifica que o conteúdo, o padding e a borda devem ser 
  considerados na largura e na altura total do elemento.
*/

 body {
     font-size: 16px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     line-height: 1.6;
     /* Define o espaçamento entre linhas para melhorar a legibilidade. */
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     /* vh: viewport height (altura da janela de visualização). */
 }

 form {
     margin: 1rem;
 }

 li {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     align-content: center;
     border: 1px solid blue;
     margin: 1rem;
     text-decoration: none;
 }

 li:nth-child(even) {
     background-color: rgb(237, 237, 249);
 }

 div {
     width: 10rem;
     padding: 1rem;
 }

 input {
     padding: .6rem;
 }

 button {
     padding: .6rem 3rem;
 }